@import '../../node_modules/normalize.css/normalize';

%text-align__inherit {
  text-align: inherit;
}

%font-weight__inherit {
  font-weight: inherit;
}

%text__improve {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

%full-width {
  width: 100%;
}

%margin__zero {
  margin: 0;
}

%margin-left__zero {
  margin-left: 0;
}

%margin-bottom__zero {
  margin-bottom: 0;
}

%margin-left-right__zero {
  margin-left: 0;
  margin-right: 0;
}

%margin-top-bottom__zero {
  margin-bottom: 0;
  margin-top: 0;
}

%color__inherit {
  color: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  @extend %margin__zero;
}

body {
  @extend %margin__zero;
  min-height: 100%;
  @extend %text__improve;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  @extend %color__inherit;
}

p,
pre,
ul,
dl {
  @extend %margin-top-bottom__zero;
}

form {
  @extend %margin-bottom__zero;
}

a {
  @extend %color__inherit;
  text-decoration: none;
}

ol,
ul {
  @extend %margin-top-bottom__zero;
  list-style-type: none;
  padding-left: 0;
}

fieldset {
  @extend %margin-left-right__zero;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  @extend %full-width;
}

th {
  @extend %text-align__inherit;
  @extend %font-weight__inherit;
}

caption {
  @extend %text-align__inherit;
}

dd {
  @extend %margin-left__zero;
}

textarea {
  resize: vertical;
  vertical-align: top;
  @extend %full-width;
}

img {
  vertical-align: middle;
  @extend %full-width;
}

canvas {
  @extend %full-width;
}

input {
  &[type='time'],
  &[type='color'],
  &[type='range'],
  &[type='date'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='month'],
  &[type='password'],
  &[type='search'],
  &[type='url'],
  &[type='week'],
  &[type='email'],
  &[type='number'],
  &[type='tel'],
  &[type='text'] {
    @extend %full-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  @extend %font-weight__inherit;
  @extend %margin-top-bottom__zero;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation: none !important;
    transition: none !important;
  }
}

