@import 'common';

%full-width {
  width: 100%;

  @supports (width: fill-available) {
    width: fill-available;
  }
}

img,
textarea {
  @extend %full-width;
}

input {
  &:not([type='checkbox']) {
    &:not([type='file']) {
      &:not([type='radio']) {
        &:not([type='button']) {
          &:not([type='submit']) {
            @extend %full-width;
          }
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
